{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name, 'Task name', { 'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">

    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">

    {{ form_label(form.costs, 'Costs', { 'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.costs, { 'attr': {'class': 'form-control'}}) }}

</div>

    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default form-group'}}) }}

{{ form_end(form) }}